<section class="hero-panel">
    <img src="https://picsum.photos/id/{{hero-bg}}/111/600" alt="Hero" />
    <div class="hero-content">
        <h2>{{hero-title}}</h2>
        <p>{{hero-text}}</p>
    </div>
</section>