@import "variables.less";
.hero-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    background: rgba(0, 0, 0, 0.55); /* transparencia */
    padding: 2rem 3rem;
    border-radius: 12px;
    text-align: center;
    color: white;
    max-width: 600px;
    backdrop-filter: blur(3px);
}

.hero-content h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}