@import "variables.less";
.half-panel { padding: 2rem; }
.half-content { padding: 2rem; }
.half-panel img { width: 100%; height: 300px; object-fit: cover; }
@media (max-width:719px) {
    .half-panel .row > div { flex: 0 0 100%; max-width: 100%; }
}